.header {
  padding: 30px 0 0;
  float: left;
  width: 100%;
  background: white;
}

.wrapper {
  height: auto !important;
  height: 100%;
  margin: 0 auto; 
  overflow: hidden;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 47px;
}


.menu1 h1 {
  padding:20px 50px 10px;
  float: left;
  width: 100%;
  font-size: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  margin: 0;
  padding-top: 25px;
  font-family: 'Open Sans';
  letter-spacing: -1px;
  text-transform: capitalize;
}

.header {
  overflow: hidden;
  clear: both;
}

body .custom-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 15px 15px;
  text-align: right;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 101;
  border-bottom: 1px solid #f1f1f2;
}

body .fm-button:hover {
  border: none;
  color: #000;
}

body .fm-button {
  font-family: 'Open Sans';
  cursor: pointer;
  display: block;
  padding: 0;
  position: relative;
  top: auto;
  color: #333;
  right: auto;
}